<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dccc884f-1ebe-46d5-8d02-49f330b54d27/resourceGroups/MyJijoWalletAPI20210321170743ResourceGroup/providers/Microsoft.Web/sites/virtualwallet2103</ResourceId>
    <ResourceGroup>MyJijoWalletAPI20210321170743ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/dccc884f-1ebe-46d5-8d02-49f330b54d27/resourceGroups/MyJijoWalletAPI20210321170743ResourceGroup/providers/Microsoft.ApiManagement/service/MyJijoWalletAPIapi/apis/MyJijoWalletAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://virtualwallet2103.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>25cd59e7-ea29-40a9-a1e8-bf201f9c4078</ProjectGuid>
    <MSDeployServiceURL>virtualwallet2103.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>virtualwallet2103</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$virtualwallet2103</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>